<div 
    class="msg_plate msg_plate_<%msgType%> msg_plate_<%nationType%>"
    id="msg_<%id%>"
    data-id="<%id%>"
>
    <div class="msg_icon">
        <%if(src.icon){ %>
            <img class='generalIcon' width='64' height='64' src="<%encodeURI(src.icon)%>">
        <%} else {%>
            <img class='generalIcon' width='64' height='64' src="<%encodeURI(defaultIcon)%>">
        <%}%>
    </div>
    <div class="msg_body">
        <div class="msg_header">
            <%if(!this.option && !this.option.action && src.id == myGeneralID && now <= last5min && invalidType == 'msg_valid'){%>
                <button type="button" data-erase_until="<%last5min%>" class="btn btn btn-outline-warning btn-sm btn-delete-msg" style='float:right'>❌</button>
            <%}%>
            <%if(msgType == 'private') {%>
                <%if(src.name == generalName){%>
                <span class="msg_target msg_<%src.colorType%>" style="background-color:<%src.color%>;">나</span
                ><span class="msg_from_to">▶</span
                ><span class="msg_target msg_<%dest.colorType%>" style="background-color:<%dest.color%>;"><%e(dest.name)%>:<%dest.nation%></span>
                <%}else{%>
                <span class="msg_target msg_<%src.colorType%>" style="background-color:<%src.color%>;"><%e(src.name)%>:<%src.nation%></span
                ><span class="msg_from_to">▶</span
                ><span class="msg_target msg_<%dest.colorType%>" style="background-color:<%dest.color%>;">나</span>
                <%}%>
            <%} else if(msgType == 'national' && src.nation_id == dest.nation_id){%>
                <span class="msg_target msg_<%src.colorType%>" style="background-color:<%src.color%>;"><%e(src.name)%></span>
            <%} else if(msgType == 'national' || msgType == 'diplomacy'){%>
                <%if(src.nation_id == nationID){%>
                <span class="msg_target msg_<%src.colorType%>" style="background-color:<%src.color%>;"><%e(src.name)%></span
                ><span class="msg_from_to">▶</span
                ><span class="msg_target msg_<%dest.colorType%>" style="background-color:<%dest.color%>;"><%dest.nation%></span>
                <%}else{%>
                <span class="msg_target msg_<%src.colorType%>" style="background-color:<%src.color%>;"><%e(src.name)%>:<%src.nation%></span
                ><span class="msg_from_to"></span>
                <%}%>
            <%} else {%>
                <span class="msg_target msg_<%src.colorType%>" style="background-color:<%src.color%>;"><%e(src.name)%>:<%src.nation%></span>
            <%} %>
            <span class="msg_time">&lt;<%e(time)%>&gt;</span>
        </div>        
        <div class="msg_content <%invalidType%>"><%e(text)%></div>
        <%if(this.option && this.option.action) {%>
        <div class="msg_prompt">
            <button class="prompt_yes btn_prompt" <%allowButton?'':'disabled="disabled"'%>>>수락</button> <button class="prompt_no btn_prompt" <%allowButton?'':'disabled="disabled"'%>>거절</button>
        </div><%} %></div></div>