@charset "utf-8";

.bg0    { background-image:url('_tK_gameImagePath_/back_walnut.jpg'); }
.bg1    { background-image:url('_tK_gameImagePath_/back_green.jpg'); }
.bg2    { background-image:url('_tK_gameImagePath_/back_blue.jpg'); }

.img_back {background-image:url('_tK_gameImagePath_/back.jpg'); }

/* 레거시. */
#bg0    { background-image:url('_tK_gameImagePath_/back_walnut.jpg'); }
#bg1    { background-image:url('_tK_gameImagePath_/back_green.jpg'); }
#bg2    { background-image:url('_tK_gameImagePath_/back_blue.jpg'); }

.map_detail .map_title{
    background:
        url('_tK_gameImagePath_/ltitle.jpg') no-repeat left, 
        url('_tK_gameImagePath_/rtitle.jpg') no-repeat right;
}

.map_detail.map_spring .map_title_text{
    background:
        url('_tK_gameImagePath_/ad.gif') no-repeat left, 
        url('_tK_gameImagePath_/spring.gif') no-repeat right;
}

.map_detail.map_summer .map_title_text{
    background:
        url('_tK_gameImagePath_/ad.gif') no-repeat left, 
        url('_tK_gameImagePath_/summer.gif') no-repeat right;
}

.map_detail.map_fall .map_title_text{
    background:
        url('_tK_gameImagePath_/ad.gif') no-repeat left, 
        url('_tK_gameImagePath_/fall.gif') no-repeat right;
}

.map_detail.map_winter .map_title_text{
    background:
        url('_tK_gameImagePath_/ad.gif') no-repeat left, 
        url('_tK_gameImagePath_/winter.gif') no-repeat right;
}

/*체 지도*/
.map_theme_che.map_spring .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_spring.jpg') no-repeat;
}

.map_theme_che.map_summer .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_summer.jpg') no-repeat;
}

.map_theme_che.map_fall .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_fall.jpg') no-repeat;
}

.map_theme_che.map_winter .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_winter.jpg') no-repeat;
}

.map_theme_che .map_bgroad{
    background: url('_tK_gameImagePath_/map/che/che_road.png') no-repeat;
}

/*미니체 지도*/
.map_theme_miniche.map_spring .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_spring.jpg') no-repeat;
}

.map_theme_miniche.map_summer .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_summer.jpg') no-repeat;
}

.map_theme_miniche.map_fall .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_fall.jpg') no-repeat;
}

.map_theme_miniche.map_winter .map_bglayer1{
    background: url('_tK_gameImagePath_/map/che/map_winter.jpg') no-repeat;
}

.map_theme_miniche .map_bgroad{
    background: url('_tK_gameImagePath_/map/che/miniche_road.png') no-repeat;
}