{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.2%, not ie>8, not op_mini all",
                "useBuiltIns": "usage",
                "corejs": 3,
                "modules": false
            }
        ]
    ],
    "plugins": [
        "lodash"
    ]
}