.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/node_modules

# 체섭 ignore
*.log

logs/*.txt
d_log/*.txt
d_log/*.zip
sess_*
*/logs/*.txt
*/logs/*/*.txt
*/logs/preserved
err.txt

hwe/.htaccess

d_shared

/d_pic
d_pic/*.jpg
d_pic/*.gif
d_pic/*.png
d_pic/*.webp
d_pic/uploaded_image

*/dist_misc/*
*/dist_js/*
*/dist_css/*
/dist_misc/*
/dist_js/*
/dist_css/*

d_setting/*.php
*/d_setting/*.php
*/d_setting/*.json
*/d_setting/templates/*.php
!*.orig.php

*/data/file_cache

**/old/*
test.*

/che
/kwe
/pwe
/nya
/pya
/twe

/hwe/data

/vendor
phpinfo.php
*.sqlite3

ingame/js/*
ingame/css/*
gateway/js/*
gateway/css/*
