.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json




# 체섭 ignore
*.log

logs/*.txt
d_log/*.txt
d_log/*.zip
sess_*
*/logs/*.txt
*/logs/*/*.txt
err.txt
che/.htaccess
kwe/.htaccess
pwe/.htaccess
twe/.htaccess
hwe/.htaccess

d_shared

d_pic/*.jpg
d_pic/*.gif
d_pic/*.png

d_setting/*.php
*/d_setting/*.php
*/d_setting/templates/*.php

**/old/*
test.php

/che
/kwe
/pwe
/nya
/pya
/twe

phpinfo.php
vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/*
*.sqlite3
