@charset "UTF-8";

body { 
color:white; background-color:black; border-width:1px; border-color:gray; background-image:url('/images/back.jpg'); background-position:center; background-repeat:repeat-y; 
}

#container {
    width:1000px;
    margin: 0 auto;
}

.buttonPlate{
    width:1000px;
    height:60px;
}

.toolbarButton {
    float:left;
    background-color:#225500;
    color:white;
    width:125px;
    height:30px;
    font-weight:bold;
    font-size:13px;
    margin:0;
    display:block;
}

.toolbarButton2 {
    float:left;
    background-color:#225500;
    color:magenta;
    width:125px;
    height:30px;
    font-weight:bold;
    font-size:13px;
    margin:0;
    display:block;
}