@charset "utf-8";

#EntranceDonation_00 {
    width: 800px; height: 20px;
    border: none;
    position: absolute;
    top: 20px; left: 50%;
    margin-left: -400px; /* DIV박스 크기의 1/2로 마진을 잡아줍니다. */
    display: none;
    z-index: 2;
}

#EntranceDonation_0000 {
    width: 800px; height: 50px;
    position: absolute; top: 0px; left: 0px;
}

#EntranceDonation_0001 {
    width: 100px; height: 30px;
    position: absolute; top: 10px; left: 650px;
}

#EntranceDonation_0002 {
    width: 800px; height: 20px;
    position: absolute; top: 52px; left: 0px;
}

#EntranceDonation_000200 {
    width: 100px; height: 20px;
}

#EntranceDonation_0003 {
    width: 800px; height: 20px;
    position: absolute; top: 74px; left: 0px;
    border: none;
}

#EntranceDonation_000300 {
    width: 48px; height: 20px;
    float: left;
}

#EntranceDonation_000301 {
    width: 96px; height: 16px;
    float: left;
}

#EntranceDonation_000302 {
    width: 96px; height: 16px;
    float: left;
}

#EntranceDonation_000303 {
    width: 96px; height: 16px;
    float: left;
}

#EntranceDonation_000304 {
    width: 96px; height: 16px;
    float: left;
}

#EntranceDonation_000305 {
    width: 96px; height: 16px;
    float: left;
}

#EntranceDonation_000306 {
    width: 66px; height: 16px;
    float: left;
}

#EntranceDonation_000307 {
    width: 78px; height: 20px;
    float: left;
}

#EntranceDonation_000308 {
    width: 100px; height: 20px;
    float: left;
}

#EntranceDonation_0004 {
    width: 800px; height: 20px;
    position: absolute; top: 96px; left: 0px;
    border: none;
}

#EntranceDonation_000400 {
    width: 48px; height: 20px;
    float: left;
}

#EntranceDonation_000401 {
    width: 98px; height: 20px;
    float: left;
}

#EntranceDonation_000402 {
    width: 98px; height: 20px;
    float: left;
}

#EntranceDonation_000403 {
    width: 98px; height: 20px;
    float: left;
}

#EntranceDonation_000404 {
    width: 98px; height: 20px;
    float: left;
}

#EntranceDonation_000405 {
    width: 98px; height: 20px;
    float: left;
}

#EntranceDonation_000406 {
    width: 68px; height: 20px;
    float: left;
}

#EntranceDonation_000407 {
    width: 78px; height: 20px;
    float: left;
}

#EntranceDonation_000408 {
    width: 98px; height: 20px;
    float: left;
}

#EntranceDonation_0005 {
    width: 800px; height: 20px;
    position: absolute; top: 118px; left: 0px;
    border: none;
}

#EntranceDonation_000500 {
    border: none;
}

.EntranceDonation_00050000 {
    width: 48px;
}

.EntranceDonation_00050001 {
    width: 98px;
}

.EntranceDonation_00050002 {
    width: 98px;
}

.EntranceDonation_00050003 {
    width: 98px;
}

.EntranceDonation_00050004 {
    width: 98px;
}

.EntranceDonation_00050005 {
    width: 98px;
}

.EntranceDonation_00050006 {
    width: 68px;
}

.EntranceDonation_00050007 {
    width: 78px;
}

.EntranceDonation_00050008 {
    width: 98px;
}
