@charset "utf-8";

@import url("findpw/Style.css");
@import url("join/Style.css");

html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:center bottom;
}

#Login_00 {
    width: 1024px; max-height: 100%;
    position: absolute; top: 0px; left: 50%;
    margin-left: -512px; /* DIV박스 크기의 1/2로 마진을 잡아줍니다. */
}

.Login_TopButtons, .Login_BottomButtons {
    width: 1024px; 
    height: 20px;
    position:fixed;
    left:50%;
    margin-left:-512px;
}

.Login_TopBottomButton {
    width: 113px; height: 20px;
    float: left;
    background-color: #225500;
    font-weight: bold;
}

.Login_TopBottons{
    top:0;
}

.Login_BottomButtons{
    bottom:0;
}

#Login_0000 {
    width: 52px; height: 52px;
    position: absolute; top: 30px; left: 10px;
}

#Login_0001 {
    width: 1024px; height: 768px;
}

#Login_000100 {
    position:fixed;
    width: 350px; height: 230px;
    left:50%;
    margin-left:-175px;
    top:50%;
    margin-top:-115px;
}

#Login_00010000 {
    width: 173px;
    float: left;
}

#Login_00010001 {
    width: 173px;
    float: left;
}

#Login_00010002 {
    width: 104px;
    float: left;
    text-align: right;
}

#Login_00010003 {
    width: 92px;
    float: left;
}

#Login_00010004 {
    width: 50px;
    float: left;
    text-align: right;
}

#Login_00010005 {
    width: 92px;
    float: left;
}

#Login_00010006 {
    width: 104px;
    float: left;
    text-align: right;
}

#Login_00010007 {
    width: 240px;
    float: left;
}

#Login_00010008 {
    width: 50px; height: 50px;
    float: left;
}

#Login_00010009 {
    width: 100px; height: 50px;
    float: left;
}

#Login_00010010 {
    width: 200px; height: 50px;
    float: left;
}

#Login_00010011 {
    width: 348px; height: 60px;
    float: left;
}

#Login_00010012 {
    width: 348px; height: 20px;
    float: left;
}

#Login_00010013 {
    width: 150px; height: 30px;
    float: left;
}

#Login_00010014 {
    width: 200px; height: 30px;
    float: left;
}

.Login_Alert {
    text-align: right;
    color: cyan;
}

#Login_000101 {
    width: 280px; height: 40px;
    position: fixed;
    left:50%;
    margin-left:150px;
    bottom:60px;
}
