@import "./variables.scss";
@import "break_500px.scss";

$body-bg:  #000;

$input-bg: #ddd;
$input-color: #303030;

@import "./bootswatch_custom_variables.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
