$base1color: #141c65;
$base2color: #00582c;
$base3color: #704615;
$base4color: #70153b;

$nbase2color: #0c1a41;

$sammoColors: ('base1': $base1color,
    'base2': $base2color,
    'base3': $base3color,
    'base4': $base4color,
    'nbase2': $nbase2color,
);

$nationColors: ("000000": #000000,
    "FF0000": #FF0000,
    "800000": #800000,
    "A0522D": #A0522D,
    "FF6347": #FF6347,
    "FFA500": #FFA500,
    "FFDAB9": #FFDAB9,
    "FFD700": #FFD700,
    "FFFF00": #FFFF00,
    "7CFC00": #7CFC00,
    "00FF00": #00FF00,
    "808000": #808000,
    "008000": #008000,
    "2E8B57": #2E8B57,
    "008080": #008080,
    "20B2AA": #20B2AA,
    "6495ED": #6495ED,
    "7FFFD4": #7FFFD4,
    "AFEEEE": #AFEEEE,
    "87CEEB": #87CEEB,
    "00FFFF": #00FFFF,
    "00BFFF": #00BFFF,
    "0000FF": #0000FF,
    "000080": #000080,
    "483D8B": #483D8B,
    "7B68EE": #7B68EE,
    "BA55D3": #BA55D3,
    "800080": #800080,
    "FF00FF": #FF00FF,
    "FFC0CB": #FFC0CB,
    "F5F5DC": #F5F5DC,
    "E0FFFF": #E0FFFF,
    "FFFFFF": #FFFFFF,
    "A9A9A9": #A9A9A9,
    "330000": #330000,
);
