.ev_warning {
  color: orangered;
}

.ev_notice {
  color: orangered;
}

.ev_succes {
  color: lightgreen;
}

.ev_sell {
  color: orange;
}

.ev_failed {
  color: orangered;
}

.ev_highlight {
  color: orangered;
}

.hidden_but_copyable {
  color: rgba(0, 0, 0, 0);
  font-size: 0;
}
