@import "./common/base.scss";
@import "./editor_component.scss";
@import "./util.scss";

@include media-1000px {
  #container {
    font-size: 14px;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
  }
  .year-selector {
    margin-left: calc(100%/24 * 5);
  }

  .map_position {
    flex: 0 0 auto;
    width: 700px !important;
  }

  .nation_position {
    flex: 0 0 auto;
    width: 300px !important;
  }
}

@include media-500px {
  #container {
    font-size: 14px;
    width: 500px;
    margin: 0 auto;
    padding: 0;
  }

  .map_position {
    flex: 0 0 auto;
    width: 100%;
  }

  .nation_position {
    flex: 0 0 auto;
    width: 100%;
  }
}
