@import "./common/base.scss";
@import "@scss/game_bg.scss";
@import "@scss/util.scss";

#container{
    padding: 0;
}

@include media-1000px {
    #container {
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }
}

@include media-500px {
    #container {
        position: relative;
        width: 500px;
        margin: auto;
    }
}