@import "./common/bootstrap5.scss";
@import "./editor_component.scss";
@import "./common_legacy.scss";
@import "./util.scss";

#amount {
    width: 100px;
}

#colorType {
    width: 150px;
}

.no-padding .select2-results__option {
    padding: 0;
}


@include media-1000px{
    #container {
        width: 1000px;
        margin: 0 auto;
    }
}

@include media-500px{
    body {
        overflow-x: hidden;
    }

    #container {
        width: 500px;
        margin: 0 auto;
    }


}