.s-border-t {
    border-top: gray solid 1px;
}

.s-border-b {
    border-bottom: gray solid 1px;
}

.s-border-tb {
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
}

.avoid-wrap {
    display: inline-block;
}
