@charset "utf-8";

@import url("manage/Style.css");

#server_notice {
    height: 50px;
    border: none;
}

#server_list_container{
    width:800px;
    position:absolute;
    left:50%;
    margin-left:-400px;
}

#server_list_table{
    width:100%;
}

#server_list tr{
    height:66px;
}

#server_list .server_create_and_select .general_create,
#server_list .server_create_and_select .general_select {
    width: 120px; height: 33px;
    float: left;
}

#server_list .general_create,
#server_list .general_login {
    width: 120px; height: 66px;
    float: left;
}

.ignore_border{
    border:0;
    margin:0;
    padding:0;
}

#user_info {
    margin-top:20px;
    width: 800px; height: 130px;
}

.section_title {
    height:50px;
    line-height:50px;
    font-size: 30px; font-weight: bold;
    text-align: center;
}

#user_info input{
    width: 200px; height: 50px;
    margin: 10px 50px;
}

.center_ordered_items{
    text-align:center;
}

/*Legacy*/


#Entrance_00 {
    width: 800px;
    position: absolute; top: 50px; left: 50%;
    margin-left: -400px;
    border: none;
}

#Entrance_0004 {
    width: 52px; height: 52px;
    position: absolute; top: 0px; left: -62px;
    border: 1px solid white;
}

#Entrance_0005 {
    width: 160px; height: 600px;
    position: absolute; top: 62px; left: -170px;
}

#Entrance_0006 {
    width: 160px; height: 600px;
    position: absolute; top: 62px; left: 810px;
}



#Entrance_0000 {
    width: 800px; height: 134px;
    position: absolute; top: 0px; left: 0px;
}

#Entrance_000000 {
    width: 798px; height: 50px;
    position: absolute; top: 0px; left: 0px;
    font-size: 30px; font-weight: bold;
}

#Entrance_000001 {
    width: 798px; height: 20px;
    position: absolute; top: 52px; left: 0px;
    border: none;
}

#Entrance_00000000 {
    width: 98px; height: 20px;
    position: absolute; top: 0px; left: 0px;
}

#Entrance_00000001 {
    width: 398px; height: 20px;
    position: absolute; top: 0px; left: 100px;
}

#Entrance_00000002 {
    width: 178px; height: 20px;
    position: absolute; top: 0px; left: 500px;
}

#Entrance_00000003 {
    width: 118px; height: 20px;
    position: absolute; top: 0px; left: 680px;
}

#Entrance_000002 {
    width: 798px; height: 64px;
    position: absolute; top: 74px; left: 0px;
    border: none;
}

.Entrance_ServerList {
    width: 800px; height: 64px;
    border: none;
    float: left;
}

.Entrance_ServerListServer {
    width: 98px; height: 64px;
    float: left;
}

.Entrance_ServerListDown {
    width: 698px; height: 64px;
    float: left;
}

.Entrance_ServerListInfo {
    width: 398px; height: 64px;
    float: left;
}

.Entrance_ServerListBlock {
    width: 298px; height: 64px;
    float: left;
    line-height: 64px;
}

.Entrance_ServerListCharacter {
    width: 64px; height: 64px;
    float: left;
}

.Entrance_ServerListName {
    width: 112px; height: 64px;
    float: left;
    line-height: 64px;
}


.Entrance_ServerListSelect {
    width: 120px; height: 32px;
    float: left;
}

#Entrance_000003 {
    width: 798px; height: 155px;
    text-align: left;
}

.Entrance_Alert {
    color: red; font-size: 15px; font-weight: bold;
}

.Entrance_Che {
    color: white; font-size: 15px; font-weight: bold;
}

.Entrance_Kwe {
    color: yellow; font-size: 15px; font-weight: bold;
}

.Entrance_Pwe {
    color: orange; font-size: 15px; font-weight: bold;
}

.Entrance_Twe {
    color: magenta; font-size: 15px; font-weight: bold;
}

.Entrance_Hwe {
    color: red; font-size: 15px; font-weight: bold;
}

#Entrance_0001 {
    width: 800px; height: 130px;
    position: absolute; top: 154px; left: 0px;
}

#Entrance_000100 {
    width: 798px; height: 50px;
    position: absolute; top: 0px; left: 0px;
    font-size: 30px; font-weight: bold;
}

#Entrance_000101 {
    width: 200px; height: 50px;
    position: absolute; top: 65px; left: 150px;
}

#Entrance_000102 {
    width: 200px; height: 50px;
    position: absolute; top: 65px; left: 450px;
}
