@charset "UTF-8";

/* font-boostring Block */
html * {max-height:1000000px;}


html, body{
    background-color:black;
    color:white;
    line-height:1.3;
    font-family:'맑은 고딕'; 
    font-size:13px;
}

table { font-family:'맑은 고딕'; }
font { font-family:'맑은 고딕'; }
input { font-family:'맑은 고딕'; font-size:13px; }
select { font-family:'굴림'; line-height:100%; }

.center{
    text-align:center;
}

table.mimic_flex{
    border-collapse: collapse;
    border:none;
    padding:0;
}

.mimic_flex td, .mimic_flex th     {
    border:none !important;
    padding: 0px;
    word-break: break-all;
}


table.tb_layout  {
    border-collapse: collapse;
    padding: 0px;
    font-size: 13px;
    word-break: break-all;
    font-family: '맑은 고딕';
}

.tb_layout td, .tb_layout th     {
    border:solid 1px gray;
    padding: 0px;
    word-break: break-all;
    font-family: '맑은 고딕';;
}

div.bar_out{
    position:relative;
    border-top:solid 1px #888888;
    border-bottom:solid 1px #333333;
    padding:0;
    margin:0;
    width:100%;
    overflow: hidden;
}

div.bar_out div{
    position:absolute;
    left:0;
    top:0;
    height:100%;
}

div.bar_out div.bar_in{
    width:100%;
}

/* */

.ev_warning{
    color:orangered;
}

.ev_notice{
    color:orangered;
}

.ev_succes{
    color:lightgreen;
}

.ev_sell{
    color:orange;
}

.ev_failed{
    color:orangered;
}

.ev_highlight{
    color:orangered;
}

/* TODO: 색상값이 아니라 의미에 따라 클래스 지정 */

.o_bullet::before{
    color:cyan;
    content:"●";
}

.o_diamond::before{
    color:orangered;
    content:"◆";
}

.small_war_log{
    display:inline-block;
}

.small_war_log .war_type_attack{
    color:cyan;
}

.small_war_log .war_type_defense{
    color:magenta;
}

.small_war_log .war_type_siege{
    color:white;
}



.small_war_log .name_plate{
    font-size: 0.75em;
}

.small_war_log .name_plate_cover{
    color:yellow;
}

.small_war_log .crew_plate{
    color:orangered;
    font-size:90%;
}

.t_date{
    font-size: 0.75em;
}

.t_red{
    color:red;
}

.t_blue{
    color:blue;
}

.t_green{
    color:green;
}

.t_magenta{
    color:magenta;
}

.t_cyan{
    color:cyan;
}

.t_limegreen{
    color:limegreen;
}

.t_skyblue{
    color:skyblue;
}

.t_orangered{
    color:orangered;
}

.t_yellow{
    color:yellow;
}

.t_white{
    color:white;
}

.float_left{
    float:left;
}

.tooltip{
    font-size:12px;
    font-family: '맑은 고딕';
}

.tooltiptext {
    display: none;
}
