@charset "UTF-8";

body { 
color:white;
 background-color:black;
  border-width:1px; 
  border-color:gray; background-position:center; background-repeat:repeat-y; 
}

#container {
    width:1000px;
    margin: 0 auto;
}

.buttonPlate{
    width:1000px;
    height:60px;
}

.toolbarButton {
    float:left;
    background-color:#225500;
    color:white;
    width:125px;
    height:30px;
    font-weight:bold;
    font-size:13px;
    margin:0;
    display:block;
}

.commandButton {
    float:left;
    width:111px;
    height:30px;
    font-weight:bold;
    font-size:13px;
    margin:0;
    display:block;
}

.commandButton:disabled::before{
    content:'【'
}

.commandButton:disabled::after{
    content:'】'
}

.commandButton:disabled{
    background-color:transparent !important;
    color:gray !important;
    border-color:transparent !important;
}

.toolbarButton2 {
    float:left;
    background-color:#225500;
    color:magenta;
    width:125px;
    height:30px;
    font-weight:bold;
    font-size:13px;
    margin:0;
    display:block;
}

.nation_info td{
    height:18px;
}

#generalTurnSelector{
    width:50px;
    color:white;
    background-color:black;
    font-size:13px;
}