@charset "UTF-8";

/*임시용 */

#container{
    width:1000px;
    margin:auto;
    font-size:13px;
}
/*임시용 끝*/

#message_board section{
    overflow-y:auto;
    overflow-x:hidden;
    max-width:498px;
}

.msg_plate{
    width:100%;
    border-bottom:groove 0.1em;
    border-left:groove 0.1em;
    border-right:groove 0.1em;
    height:64px;
    font-size:12px;
    word-break:break-all;
    color:white;
}

.msg_plate_private{
    background-color:#5d1e1a;
}

.msg_plate_public{
    background-color:#141c65;

}

.msg_plate_national, .msg_plate_diplomacy{
    background-color:#00582c;

}

.public_message{
    height:667px;
}

.private_message{
    height:667px;
}

.national_message{
    height:1350px;
}

.msg_icon{
    float:left;
    width:64px;
    height:64px;
    border-right:groove 0.1em;
}

.msg_time{
    font-size:0.75em;
    font-weight:normal;
}

.msg_header{
    font-weight: bold;
    margin-bottom:3px;
    color:white;
}

#msg_input{
    color:white;
    background-color:black;
    font-size:12px;
    width:720px;
    height:15px;
}

#mailbox_list{
    color:white;
    background-color:black;
    font-size:12px;
    width:160px;
}

.board_header{
    color:white;
    border:groove 0.1em;
}

.board_side{
    height:1370px;
    width:498px;
    overflow-y: hidden;
    display:inline-block;
    border-left:groove 1px;
    border-right:groove 1px;
    border-bottom:groove 1px;
}

.msg_body{
    padding-left:64px;
}

.msg_target{
    margin:2px 2px 0 2px;
    padding:2px 3px;
    display:inline-block;
    box-shadow: 2px 2px black;
    border-radius: 3px;
}

/*
.public_message .msg_target{
    box-shadow: 2px 2px darkslategrey;
}
*/

.msg_target.msg_bright{
    color:black;
}

.msg_target.msg_dark{
    color:white;
}

.msg_from_to{
    display:inline-block;
}

.msg_content{
    margin-left:10px;
    margin-right:5px;
}

.msg_prompt{
    text-align:right;
    margin-top:5px;
    margin-right:5px;
}

#mailbox_list option{
    color:white;
    background-color:black;
}