.section_bar{
    text-align:center;
    border:0.5px solid #aaa;
    padding-right:0;
    padding-left:0;
}

.sub_bar{
    text-align:center;
    border:0.5px solid #aaa;
    margin-left:-5px;
    margin-right:-5px;
}

.reset_btn{
    width:15ch;
}

.submit_btn{
    margin-left:1em;
    width:15ch;
}

.control_bar{
    margin-top:8pt;
    text-align:right;
}

.col-form-label{
    text-align:right;
    padding-right:2ch;
}

.form_list{
    padding:8pt;
}

.half_section_left{
    padding-right:0;
    border-right:0.5px solid #aaa;
}
.half_section_right{
    padding-left:0;
    
}