.trumbowyg-fontsize_24pt-dropdown-button{
    min-height:25pt;
}

.trumbowyg-fontsize_28pt-dropdown-button{
    min-height:29pt;
}

.trumbowyg-fontsize_32pt-dropdown-button{
    min-height:33pt;
}

.trumbowyg-fontsize_40pt-dropdown-button{
    min-height:41pt;
}

.trumbowyg-fontsize_46pt-dropdown-button{
    min-height:47pt;
}

.trumbowyg-fontsize_52pt-dropdown-button{
    min-height:53pt;
}

.trumbowyg-fontsize_60pt-dropdown-button{
    min-height:61pt;
}